# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log

# Expo
.expo/
.expo-shared/

# macOS
.DS_Store

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
ios/DerivedData/

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Metro
.cache/
